ul {
    list-style: none;
    width: 75vw;
    display: flex;
    /* add solution here */
}

li {
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 173, 41);
    flex: 0 1 20vw;
    /* add solution here.. */

}